@model OpenSupport.Dashboard.ViewModels.LoginViewModel

@Styles.Render("~/Styles/AdHocStyles/authentication")

<div id="AuthenticationForm">
    <h1>Log in</h1>

    <section id="loginForm">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.ReturnUrl)
        <fieldset>
            <legend></legend>
            <ol>
                <li>
                    @Html.ValidationMessageFor(x => x.UserName)
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.ValidationMessageFor(x => x.Password)
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li id="RememberMe">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
        <p>
            @Html.ActionLink("Register", "Register", new { ReturnUrl = Model.ReturnUrl }) if you don't have an account.
        </p>
    }
    </section>
</div>
