@model OpenSupport.Web.ViewModels.IndexViewModel

<div id="TopQuestions" class="clearfix">
    
    <h1>Top Questions</h1>
    
    <ul id="TopQuestions_Catagory">
        <li class="active"><a>Most Recent</a></li>
        <li><a>This Week</a></li>
        <li><a>This Month</a></li>
    </ul>

</div>

<div id="Questions">
    
    @foreach (var SiteQuestion in Model.SiteQuestions)
    {
        var isAnswered = @SiteQuestion.Question.IsAnswered ? "is-answered" : "";
        
        <div class="question-container">
            <div class="question-metrics">
                <ul>
                    <li class="votes"><div>@SiteQuestion.Question.Votes</div>Votes</li>
                    <li class="answers @isAnswered"><div>@SiteQuestion.Answers.Count()</div>Answers</li>
                    <li class="views"><div>@SiteQuestion.Question.Views</div>Views</li>
                </ul>
            </div>
            <div class="question-title">
                @Html.ActionLink(SiteQuestion.Question.Title, "Details", "Question", new { Id = SiteQuestion.Question.Id }, null)
            </div>
            <div class="question-owner">
                @Html.ActionLink(SiteQuestion.Question.Owner.UserName, "Profile", "User", new { Id = SiteQuestion.Question.Owner.Id }, null)
            </div>
            <div class="question-date">
                @SiteQuestion.Question.DatePosted.ToString("dd MMM yyyy")
            </div>
        </div>
    }

</div>