@model OpenSupport.Dashboard.ViewModels.AskQuestionViewModel


<div id="AskForm" class="form">
    <h1>Ask Question</h1>

    <section>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <legend></legend>
                
                <div>
                    @Html.LabelFor(x => x.Question.Title)
                    @Html.TextBoxFor(x => x.Question.Title)
                </div>
                
                <div>
                    @Html.LabelFor(x => x.Question.Body, "Question")
                    @Html.TextAreaFor(x => x.Question.Body)
                </div>
                <input type="submit" value="Ask" />
            </fieldset>
        }
    </section>
</div>
        