@model OpenSupport.Dashboard.ViewModels.AskQuestionViewModel


<div id="AskForm" class="form">
    <h1>Ask Question</h1>

    <section>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <legend></legend>
                
                <div class="clearfix">
                    @Html.LabelFor(x => x.Question.Title)
                    @Html.TextBoxFor(x => x.Question.Title)
                </div>
                
                <div id="HtmlEditor" class="clearfix">
                    @Html.LabelFor(x => x.Question.Body, "Question")
                    @Html.TextAreaFor(x => x.Question.Body)
                </div>
                <input type="submit" value="Ask" />
            </fieldset>
        }
    </section>
</div>
        
@section scripts {
    <script type="text/javascript">
        
        tinyMCE.init({

            setup : function(ed)
            {
                ed.onInit.add(function (ed) {
                    ed.getDoc().body.style.fontSize = '14px';
                });
            },

            mode: "textareas",
            theme: "advanced",
            theme_advanced_buttons1: "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink,fontselect,fontsizeselect",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location : "none"
        });

        $(document).ready(function () {
            $("section").fadeIn("fast");
        });

    </script>
}