<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Open Support</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Styles/less")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav>
            @Html.Partial("_LoginPartial")
        </nav>

        <div id="MainContentContainer">
            <div id="Content">
                @RenderBody()
            </div>
        </div>
        
        <aside>

        </aside>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
