@functions {
    bool IsPage(string action, string controller = "") {
        return (String.IsNullOrEmpty(action) || ViewContext.RouteData.Values["action"].ToString() == action) &&
            (String.IsNullOrEmpty(controller) || ViewContext.RouteData.Values["controller"].ToString() == controller);
    }
}


@{
    var displayNavigation = !IsPage("", "Account");
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Open Support</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Styles/less")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            @Html.Partial("_LoginPartial")
        </header>
        
        <div id="MainContentContainer">
            @if(displayNavigation) {
                @Html.Partial("_Navigation")
            }

            <div id="Content">
                @RenderBody()
            </div>

        </div>
        
        <aside>

        </aside>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
